In [22]:
import pandas as pd
data_input = pd.read_csv('tmp/validation_real_data.csv')
data_input.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   antiquity   26 non-null     int64
 1   bedrooms    26 non-null     int64
 2   garages     26 non-null     int64
 3   bathrooms   26 non-null     int64
 4   rooms       26 non-null     int64
 5   total_area  26 non-null     int64
 6   price       26 non-null     object
dtypes: int64(6), object(1)
memory usage: 1.6+ KB

In [25]:
from pycaret.regression import load_model, predict_model
loaded_model_simple = load_model('models/model_wo_ohe_2024-12-03')

Transformation Pipeline and Model Successfully Loaded

In [26]:
# Realiza la predicción
predicciones = predict_model(loaded_model_simple, data=data_input)
predicciones

    antiquity  bedrooms  garages  ...  total_area            price  prediction_label
0          45         1        0  ...          46      $480,000.00     518276.883357
1          20         1        0  ...          35      $400,000.00     570782.766131
2          40         1        0  ...          40      $385,000.00     474745.238351
3          13         2        0  ...          64  $858,000,000.00     560311.313691
4           4         2        0  ...          53      $530,000.00     596687.356826
5          50         3        0  ...          85      $950,000.00     824273.525373
6          40         4        0  ...         274        $5,500.00     850870.634894
7           0         1        0  ...          45      $550,000.00     435430.354330
8          15         1        0  ...          35      $370,000.00     425737.855760
9          50         1        0  ...          40  $429,000,000.00     484527.963958
10         15         2        0  ...          57      $550,000.00     513073.798538
11          7         2        0  ...          44      $500,000.00     522631.564234
12         45         2        0  ...          40      $490,000.00     559893.183777
13         15         3        0  ...          72          $750.00     652671.714025
14         60         3        0  ...          55      $700,000.00     562305.043094
15         20         3        0  ...          95        $1,500.00     776534.697139
16         50         4        0  ...         150    $1,850,000.00     838394.472224
17         15         1        0  ...          25  $319,000,000.00     395300.422606
18          3         1        0  ...          50      $700,000.00     396587.516356
19         20         2        0  ...          45  $550,000,000.00     488423.741373
20          4         2        0  ...          50      $449,800.00     546140.216336
21          5         2        0  ...          46      $650,000.00     485501.616111
22         60         3        0  ...         110        $1,100.00     741096.974281
23          2         3        0  ...          90        $2,200.00     698200.987250
24         15         3        0  ...          80      $890,000.00     729753.777754
25         80         4        0  ...         183        $1,500.00     737261.820556

[26 rows x 8 columns]

In [28]:
predicciones.to_csv('tmp/predictions.csv', index=False)